
@import url("sections/header.css");
@import url("sections/menu.css");
@import url("sections/about-us.css");
@import url("sections/help.css");
@import url("sections/footer.css");
@import url("sections/shop.css");

/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;


}

/*Utility classes*/
li {
  list-style-type: none;
}


.container {
  width: 90%;
  margin: 0 auto;
}
h1{
  font-size:900px;
  font-weight:bolder;
  
}
.text__orange{
  color: #EEA539;
}
h2{
  font-size:50px;
  font-weight: bold
}
