.about__image {
  background-color: black;
  border-radius: 60%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__images {
  display: flex;
  align-items: center;
  gap: 2em;
  background-color: white;
  padding-left: 3em;
  padding-bottom: 3em;
}
.about__us__content h2 {
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.about_us__content {
  display: flex;
  justify-content: space-around;
}
.about-us__profile {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-color: #f4f7fb;
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.about__us {
  display: flex;
  gap: 3em;
  margin-top: 4rem;
}

.about-us__images p {
  color: darkgrey;
  font-weight: lighter;
}
.about__paragraph {
  line-height: 3px;
  font-weight: normal;
  font-size: medium;
}
