.nav {
    background-color: #f4f7f8;
    padding: 2em 0;
  }
  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__center ul li{
    font-size: 8rem;
    
  }
  .nav__center {
    display: flex;
    gap: 3em;
  }
  .nav__center li:hover {
     
    cursor: pointer;
  background-color:#eea539;
  }
  .nav__center li a {
    text-decoration: none;
    color: black;
  }
  .nav__right {
    display: flex;
    align-items: center;
  
    gap: 1em;
  }
  
  .nav__mobile {
    display: none;
  }
  .about__section{
    display: flex;
    gap: 5rem; 
  }

  .about{
    
  }
