/* Navigation styles */
nav {
  background-color: #f4f7f8;
  padding: 2em 0;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__center {
  display: flex;
  gap: 3em;
}
.nav__center li:hover {
  background-color: #eea539;
  cursor: pointer;
  color: white;
}
.nav__center li a {
  text-decoration: none;
  color: black;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav__mobile {
  display: none;
}

/* hero style*/

.hero__left {
  flex: 1;
}

.hero__top__paragraph h1 {
  font-weight: bolder;
  font-size: 3rem;
}

.search {
  display: flex;
  border: 2px solid lightgray;
  align-items: center;
  border-radius: 5px;
  width: 100%;
  margin-top: 4rem;
}

.search input {
  padding: 1em 2em;
  border: none;
  outline: none;
  flex: 1;
}

.button__icon {
  background-color: black;
  color: white;
  padding: 1em 2em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fa-solid {
  font-size: 1.5rem;
  margin-left: 1em;
}

.hero__cards__images {
  display: flex;
  justify-content: space-between;
  background-color: #f4f7f8;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 50px;
}

.hero__left__cards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}
.hero__cards {
  background-color: black;
  border-radius: 60%;
  width: 60px;
  height: 60px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p {
  padding-top: 2em;
  text-align: center;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero__right {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.hero__right__images img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__left h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.5;
  padding-top: 3em 2em;
}

.pizza__image {
  display: flex;
  flex-wrap: wrap;
}

.pizza__image img {
  width: 25%;
}

/* Media Queries */

@media screen and (max-width: 810px) {
  .nav__center {
    display: none;
  }
  .nav__mobile {
    display: block;
  }

  .hero__right {
    display: none;
  }
  .hero__left {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    line-height: 1;
  }
}
