.help__icon{
    display: flex;
    justify-content: space-around;
    background-color:
    margin-top: 4rem;
;
}
.help h2{
    text-align: center;
    margin-top: 3rem;
    font-size: 50px;
    font-weight: bolder;
}
.help__image{
    background-color:  #f4f7fb;
    padding-top: 4em;
    text-align: center;
    margin-top: 2rem;
    padding-left: 6em;
    padding-right: 6em;
}
.help__image__icon{
    margin-top: -6rem;
    background-color: #f4f7fb;
    border-radius: 1000px;
z-index: 1;
height: 50px;
}
